.App {
  display: flex;
  flex-direction: column;
}

.travo {
  width: 90vw;
  border: 2px solid red;
  border-radius: 50px;
  margin-left: 5vw;
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer {
  align-self: center;
  width: 88vw;
  border-radius: 50px;
  align-items: center;
}
