.body {
  width: 90vw;
  display: flex;
  flex-wrap: wrap;
}

.outerBody {
  display: flex;
  justify-content: center;
}

.cards {
  display: flex;
}

@media screen and (min-width: 0px) and (max-width: 1000px) {
  .cards {
    flex-direction: column;
  }
}
