.card {
  width: 30vw;
  min-height: 30vh;
  border: 2px solid red;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex: 1;
}

.content {
  border-radius: 50px;
  min-height: 29.5vh;
  width: 15vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.cardbtn {
  border: 2px solid;
  border-radius: 50px;
  height: 40px;
  width: 150px;
  background: rgba(0, 0, 0, 0.8);
  margin-top: 20vh;
  margin-left: 3vw;
  cursor: pointer;
}
