.events {
  width: 90vw;
  border: 2px solid red;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  min-height: 40vh;
}

.otherEvents {
  width: 140px;
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
  margin-top: 20px;
}

.event {
  width: 30px;
  background-color: transparent;
  height: 30px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.event:focus {
  outline-width: 0;
}

.btn {
  align-self: flex-end;
  margin-top: 40px;
  margin-left: 20px;
  border-radius: 50px;
  width: 140px;
  height: 40px;
  background-color: orange;
  font-size: 20px;
  color: white;
  border: 2px solid red;
  cursor: pointer;
  margin-bottom: 40px;
}
