.settings {
  border: 2px solid;
  border-radius: 50px;
  height: 75vh;
  display: flex;
}

.setting {
  border: 2px solid;
  border-radius: 50px;
  height: 75vh;
  width: 29.7vw;
}

.setting > h1 {
  margin-left: 2vw;
  font-size: 40px;
  margin-top: 1vh;
}

.settingInner {
  border: 2px solid;
  border-radius: 50px;
  height: 65vh;
  width: 29.7vw;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

.smallCard {
  border: 2px solid;
  height: 10vh;
  width: 14.5vw;
  background-size: cover;
  cursor: pointer;
  min-width: 150px;
}

@media screen and (min-width: 0px) and (max-width: 1200px) {
  .settings {
    flex-direction: column;
  }
  .setting {
    width: 89vw;
  }
  .settingInner {
    width: 90vw;
    height: 20vh;
  }
  .clrs {
    height: 33vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 860px) {
  .settingInner {
    height: 31vh;
  }
  .font {
    height: 43vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 690px) {
  .settingInner {
    height: 42vh;
  }
  .clrs {
    height: 50vh;
  }
}

@media screen and (min-width: 0px) and (max-width: 515px) {
  .settingInner {
    height: 63vh;
  }
}
